.container {
    background-color: var(--chakra-colors-grey-100);

    display: flex;
    /* align-items: center; */
    padding-top: 30px;
    justify-content: center;

    height: 100%;

}

.action_buttons {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 80%;
    height: fit-content;
}
.title {
    display: flex;
    gap: 5px;
    align-items: center;
}

.title_input {
    font-size: 1.8em;
}

.relato {
    text-align: left;
}

.info {
    text-align: left;
}

.violence_types {
    display: flex;
    gap: 2px;
    width: fit-content;
}

.medidas_tomadas {
    margin-top: 10px;
}

.medidas {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.step_info {
}

.blank {
    width: 100%;
    height: 30px;
}

.andamento_card {
    width: 500px;
    box-shadow: none;
}

.andamento_card_header {
    /* background-color: orange; */
    font-weight: 500;
    font-size: 1.2em;
    /* padding: 10px 20px; */
}

.andamento_card_body {
    padding-top: 0px;
}