.header {
    padding-bottom: 5px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding-top: 10px;
    padding-bottom: 20px;
}

.modal_form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}