.container {
    /* background-color: var(--chakra-colors-white-100); */
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -118px;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 0px;
}

.header {
    padding: 0px 0px;
}

.form_card {
}

.form_card .body {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.section_header {
    margin-top: 20px;
}

.section_header_helper_text {
    text-align: left;
    padding: 5px 0px;
    font-size: 0.9em;
    color: rgb(72, 72, 72);
    margin-bottom: 5px;
}

.form_card .buttons {
    align-self: flex-end;
    margin-top: 20px;
    /* align-self: flex-end; */
}

