.container {
    background-color: #464555;
    padding: 3px 22px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_logo {
    padding: 7px 0px;
}

.container_menu_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 255px;
}

.menu_icon {
    height: 40px;
}

.menu_button {
    padding: 0;
}

.logo {
    height: 40px;
    width: fit-content;
}
