.top_wave {
    position: absolute;
    top: -100px;
    z-index: -1;
    width: 100vw;
}

.bottom_wave {
    position: absolute;
    bottom: 0px; 
    z-index: -1;
    width: 100vw;
}

.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    height: 91.7%;

    gap: 20px;
}

.filhos_container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.skeletons {
    align-self: center;
    position: absolute;
}