.container {
    width: 100%;
    height: 100%;
}

.banner {
    /* height: 147px; */

    height: fit-content;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
    color: white;
    padding: 40px 112px 27px 87px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner .banner_heading {
    padding: 9px 24px;
    text-align: left;
}

.banner .banner_text {
    padding: 7px 19px;
    text-align: left;
}

.container_main {
    /* height: 50%; */

    display: grid;
    grid-template-columns: 20% 80%;

    padding: 80px 0px 0px 0px;

    /* height: calc(100vh - 80px); */
    
}


.complaint_report {
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    grid-column-start: 1;
    padding: 0px 80px;

    flex: 1;
}


.complaint_report .violence_type {
    width: fit-content;
    
    display: flex;
    flex-direction: column;
}

.violence_type .radio_group {
    display: flex;
    align-items: flex-end;
    
    padding: 17px 12px;
}

.complaint_registration {
    grid-column-start: 2;
    width: 80%;

    flex: 1;

}

.complaint_registration .student_registration {
    width: 245px;
}

.complaint_registration .report_description {
    min-height: 200px;
}


.complaint_registration .report_place {
    width: 30%;
}

.report_description textarea {
    height: 100%;
}


.form_buttons {
    grid-column-start: 1;
    grid-column-end: 3;

    padding: 30px 80px 0px 80px;
    display: flex;
    justify-content: space-between;
}

.input_error_message {
    text-align: start;
}

.response_message {
    color: #6E6E6E;
    opacity: 75%;
    
    /* background-color: orange; */
    height: 100%;

    display: flex;
    padding: 200px 100px 200px 100px;
}

.response_message_buttons {
    margin-top: 100px;
}