.container {
    display: flex;
    align-items: center;
    padding: 60px 20px;
}

.modal_body {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.aluno_info span {
    padding: 10px 0px;
}

.aluno_info {
    margin-bottom: 15px;
}

.tutors_info {
    display: flex;
    flex-direction: column;
}

.tutor {
    margin-bottom: 10px;
}

.tutor div {
    display: flex;
    justify-content: space-between;
}

.button {
    align-self: flex-end;
}

.form {
    display: flex;
    flex-direction: column;
}

.action_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 5px;
    align-self: center;
}

.action_buttons .button {
    align-self: center;
}