.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 53px 87px;

}

.banner {
    width: 100%;
}

.notifications {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}