.container {
    margin-right: 7px;
}

.logo {
    height: 100%;
    width: fit-content;
}

.button {
    height: 100%;
}

.button_icon {
    height: 100%;
    width: fit-content;
}

.icon_container {
    height: 100%;
}